<div class="page-heading">

    <h1>Create new customer</h1>

</div>

<form action="" method="POST" enctype="multipart/form-data">

    <div class="control-group">

        <div class="form-group floating-label-form-group controls">

            <label>Full Name</label>

            <input type="text" class="form-control" id="fullName" name="fullName">

        </div>

    </div>

    <div class="control-group">

        <div class="form-group floating-label-form-group controls">

            <label>Email</label>

            <input type="email" class="form-control" id="email" name="email">

        </div>

    </div>

    <div class="control-group">

        <div class="form-group floating-label-form-group controls">

            <label>Phone</label>

            <input type="number" class="form-control" id="phone" name="phone" maxlength="10">

        </div>

    </div>

    <div class="form-group">

        <button type="submit" class="btn btn-primary">Create</button>
    </div>

</form>